<section>
    <div class="d-flex justify-content-center mt-3">
        <h1>SMART TABLE COMPONENT</h1>
    </div>

    <!-- ng-smart-table here -->

    <!--creare una tabella custom utilizzando ng2-smart-table con l'array presente nel componente ts-->
    <!--inserire una tabella custom che faccia vedere un pulsante di dettaglio-->
    <!-- il pulsante deve far apparire un log nella console che dia come risultato la singola riga della tabella -->
    
    <!-- BONUS -->
    <!-- il pulsante deve far apparire una modale con una form di dettaglio della riga selezionata -->

    
</section>
